<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title>AJ Framework-{{title}}</title>
        <meta name="description" content="AJ Framework 一个基于 SpringMVC 构建的轻量级框架，旨在增强 SpringMVC 并使其更具 SpringBoot 的特性。它拥有许多小型组件，非常易于使用。" />
        <meta name="keywords" content="AJ Framework, ajaxjs, ajaxjs framework, java framework, web framewwork" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@200..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap&family=Noto+Sans+SC:wght@100..900&display=swap" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap" /> 
        <link rel="stylesheet" href="/style/docs/main.css"/>
        <link rel="icon" type="image/x-icon" href="/asset/logo.ico"/>
        <script src="/asset/common.js"></script>
    </head>
    <body>
        <nav>
            <div>
                <div class="links">
                    <a href="/">🏠 Home</a>
                    | ⚙️ Source:
                    <a target="_blank" href="https://github.com/lightweight-component/aj-framework">Github</a>/<a target="_blank" href="https://gitcode.com/lightweight-component/aj-framework">Gitcode</a>
                    |
                    <a href="/common/contact">✉️ Contact</a>
                </div>
                <h1>
                    <img src="/asset/logo.png" style="vertical-align: middle;height: 45px;margin-bottom: 6px;" /> 
                    AJ Framework
                </h1>
                <h3>轻量级 Java 快速开发框架
                </h3>
            </div>
        </nav>
        <div>
            <menu>
                {# <h3>AJ Framework 简介</h3> #}
                <ul>
                    <li class="selected">
                        <a href="/">首页</a>
                    </li>
                    <li>
                        <a href="/quick-start">快速开始</a>
                    </li>
                </ul>
                <h3>开始</h3>
                <ul>
                    <li>
                        <a href="pages/api/init.html">初始化一个项目</a>
                    </li>
                    <li>
                        <a href="/init/controller">简化控制器为接口</a>
                    </li>
                    <li>
                        <a href="/init/global">统一返回、统一异常</a>
                    </li>
                    <li>
                        <a href="pages/api/package.html">打包与部署</a>
                    </li>
                </ul>
                <h3>API 功能</h3>
                <ul>
                    <li class="data">
                        <a href="/api/api-limit/">API 限流</a>
                    </li>
                    <li>
                        <a href="/api/api-encode/">API 加密/解密</a>
                    </li>
                    <li>
                        <a href="/api/api-security/">API 安全</a>
                    </li>
                    <li>
                        <a href="/api/bean-validator/">Bean 实体校验</a>
                    </li>
                </ul>
                <h3>其他模块</h3>
                <ul>
                    <li>
                        <a href="/misc/cache">使用多级缓存</a>
                    </li>
                    <li>
                        <a href="/misc/desensitize">脱敏组件</a>
                    </li>
                    <li>
                        <a href="/misc/trace">链路跟踪</a>
                    </li>
                    <li>
                        <a href="/misc/dlock">分布式锁、延迟消息</a>
                    </li>
                </ul>
    
                <h3>Misc</h3>
                <ul>
                    <li><a href="/common/versions">Release History</a></li>
                    <li><a href="/common/contact">Contact</a></li>
                </ul>
            </menu>
            <article>
                {{ content | safe }}
            </article>
        </div>

        {% include "component/footer.njk" %}
    </body>
</html>