<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="10 seconds">
    <!-- 控制台输出 (Console Appender) -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!-- 设置日志输出格式 -->
            <pattern>[%X{traceId}]%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--
       根日志器 (Root Logger) 配置。
       它将应用上面定义的 appender，并设置最低的日志输出级别。
       这里的配置会影响整个应用程序的日志行为。
   -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>