<meta charset="UTF-8" />
<meta name="description" content="A easy, small, straight forward Java CRUD Helper"/>
<meta name="keywords" content="SqlMan, document, java sql, java jdbc, java orm, jdbc tools, jdbc helper"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="renderer" content="webkit" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
<!-- Vue 2.7.16 -->
<script src="https://g.alicdn.com/code/lib/vue/2.7.16/vue.min.js"></script> 
<link rel="icon" type="image/png" href="/asset/favicon.png" />
<link rel="stylesheet" href="/style/index.css" />
<script src="/asset/js/website.js"></script>